@import '../styles/_theme.scss';

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: $color-dark-2;
  box-shadow: $box-shadow-bottom;
  height: 3rem;
  box-sizing: border-box;

  &__title {
    @include type-less-prominent();
    color: $color-grey;
    font-size: 1rem;
  }

  &__auth {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }
}
