@import '../styles/_theme.scss';

.select {
  height: 2rem;
  overflow: visible;
}

.select-button {
  @include type-normal();
  font-size: 1rem;
  text-align: left;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  border: none;
  background-color: $color-dark-3;
  color: $color-white;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: $box-shadow-bottom;
  font-weight: $font-weight-medium;
  transition: background-color 200ms;

  &:hover {
    background-color: rgba($color-white, 0.15);
  }

  &:focus {
    outline: none;
  }

  &--is-open {
    border-color: $color-white;
    color: $color-white;
  }
}

.select-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms;
  margin-top: -2rem;

  &__label {
    @include type-ui();
    color: $color-white;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  &__options {
    background-color: $color-dark-4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: $border-radius-lg;
    padding: 0.5rem 0;
    box-shadow: $box-shadow-bottom;
  }

  &--is-open {
    visibility: visible;
    opacity: 1;
  }
}

.select-list-option {
  @include type-normal();
  color: $color-white;
  background-color: transparent;
  border: none;
  padding: 0.25rem 2rem 0.25rem 1rem;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-weight: $font-weight-medium;

  &:hover {
    background-color: rgba($color-white, 0.05);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: rgba($color-white, 0.15);
  }

  &--is-selected {
    background-color: rgba($color-white, 0.1);
  }
}
