@import '../styles/_theme.scss';

.snackbar-message {
  @include type-normal();
  background-color: $color-dark-3;
  color: $color-white;
  padding: 1rem;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-bottom;
  z-index: 10;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.9rem;
  transition: opacity 200ms, transform 200ms;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &--is-above-controls {
    margin-bottom: 5rem;
  }

  &--is-above-bottom-nav {
    margin-bottom: 4rem;
  }

  &--is-above-controls#{&}--is-above-bottom-nav {
    margin-bottom: 8rem;
  }

  &--will-appear {
    display: flex;
    opacity: 0;
    transform: translateY(100%);
    will-change: opacity, transform;
  }

  &--is-appearing {
    display: flex;
    opacity: 1;
    transform: none;
  }

  &--has-appeared {
    display: flex;
  }

  &--will-exit {
    display: flex;
    opacity: 1;
    will-change: opacity, transform;
  }

  &--is-exiting {
    display: flex;
    opacity: 0;
    transform: translateY(100%);
  }

  &__button {
    margin: -0.5rem -0.5rem -0.5rem 1rem;
  }
}

@include is-narrow-screen() {
}
