@import '../styles/_colors.scss';
@import '../styles/_effects.scss';
@import '../styles/_type.scss';

.bottom-nav {
  height: 4rem;
  background-color: $color-dark-2;
  box-shadow: $box-shadow-top;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &--has-controls-above {
    box-shadow: none;
    border-top: 1px solid rgba($color-white, 0.1);
  }

  &__link {
    @include type-normal();
    font-size: 0.75rem;
    color: $color-grey;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 0.5rem 0;
    box-sizing: border-box;

    &--is-active {
      color: $color-white;
    }
  }
}
