@import '../styles/_theme.scss';
@import './_skeleton.scss';

.preview-skeleton {
  padding: 2rem 0.5rem;
  box-sizing: border-box;

  &__image {
    border-radius: $border-radius-md;
    @include background-wipe();
  }

  &__title {
    width: 7rem;
    height: 1rem;
  }

  &__subtitle {
    width: 5rem;
    height: 0.9rem;
  }
}

@include is-narrow-screen() {
  .preview-skeleton {
    &__title {
      height: 0.9rem;
    }

    &__subtitle {
      height: 0.8rem;
    }
  }
}
