@import '../styles/theme.scss';

$color-gradient-1: rgba($color-white, 0.05);
$color-gradient-2: rgba($color-white, 0.1);

@mixin background-wipe() {
  background: linear-gradient(
    45deg,
    $color-gradient-1,
    $color-gradient-2,
    $color-gradient-1
  );
  background-size: 300%;
  animation-name: background-wipe;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.skeleton {
  position: relative;
  color: transparent;
  overflow: hidden;
  pointer-events: none;
  background: $color-gradient-1;

  &--is-animated::after {
    @include background-wipe();
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@keyframes background-wipe {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}
