@import '../styles/_theme.scss';

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background-color: rgba($color-dark-1, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &--will-appear {
    opacity: 0;
    will-change: opacity;
  }
  &--is-appearing {
    opacity: 1;
    transition: opacity 200ms;
  }
  &--will-exit {
    opacity: 1;
    will-change: opacity;
  }
  &--is-exiting {
    opacity: 0;
    transition: opacity 200ms;
  }
}

.dialog {
  margin: 1rem;
  max-width: 40rem;
  max-height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  background-color: $color-dark-4;
  padding: 2rem;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-bottom;

  &__header {
    @include type-more-prominent();
    font-size: 1.5rem;
    color: $color-white;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -1rem;
    margin-right: -1rem;
  }
}

@include is-narrow-screen() {
  .dialog {
    margin: 0.5rem;
    padding: 1rem;

    &__footer {
      margin-bottom: -0.5rem;
      margin-right: -0.5rem;
    }
  }
}
