@import '../styles/_theme.scss';

.top-nav {
  display: flex;
  align-items: center;
  background-color: $color-dark-3;
  box-shadow: $box-shadow-bottom;
  z-index: 3;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;

  .title {
    @include type-less-prominent();
    color: $color-grey;
    flex: 0 0 auto;
    margin-right: 1rem;
    letter-spacing: -0.5px;

    &__product-name {
      font-weight: $font-weight-medium;
    }
  }

  .nav {
    height: 100%;
    flex: 1 1 auto;
    &__link {
      @include type-normal();
      text-decoration: none;
      color: $color-grey;
      padding: 0 1rem;
      height: 100%;
      display: inline-flex;
      align-items: center;

      &:hover {
        background-color: rgba(white, 0.05);
      }

      &--is-active {
        color: $color-white;
      }
    }
  }
}
