@import '@generative.fm/web-ui/styles/_theme.scss';

.auth-button {
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--has-badge {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $color-primary;
    }
  }

  &__image {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
}
