$color-dark-1: #121212;
$color-dark-2: #1e1e1e;
$color-dark-3: #232323;
$color-dark-4: #252525;
$color-dark-5: #272727;
$color-dark-6: #2c2c2c;
$color-dark-7: #2e2e2e;
$color-dark-8: #333333;
$color-dark-9: #363636;
$color-dark-10: #383838;
$color-white: #fefefe;
$color-grey: #939393;
$color-primary: #ffd700;
$color-box-shadow: rgba(0, 0, 0, 0.25);
