$color-dark-1: #121212;
$color-dark-2: #1e1e1e;
$color-dark-3: #232323;
$color-dark-4: #252525;
$color-white: #fefefe;
$color-grey: #939393;
$color-primary: #ffd700;
$color-box-shadow: rgba(0, 0, 0, 0.25);
