@import '../styles/_theme.scss';

.timer-input {
  @include type-normal();
  color: $color-grey;
  display: inline-flex;
  align-items: baseline;
  border-bottom: 1px solid $color-grey;
  cursor: pointer;
  padding: 0.25rem;
  margin: 0 1rem 1px;

  &--is-editing {
    border-bottom: 2px solid $color-primary;
    margin-bottom: 0;

    .timer-input__digit--has-cursor {
      border-right-color: $color-white;
    }

    .timer-input__digit--has-cursor-before {
      border-left-color: $color-white !important; // TODO don't be lazy
    }
  }

  &__digit {
    font-size: 2rem;
    border-right: 1px solid transparent;

    &:first-of-type {
      border-left: 1px solid transparent;
    }

    &:nth-of-type(4) {
      margin-left: 0.5rem;
    }

    &--is-user-input {
      color: $color-white;
    }
  }

  &__unit {
    margin-left: 0.25rem;

    &--is-user-input {
      color: $color-white;
    }
  }

  &__input {
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }
}
