@import '../styles/_theme.scss';

.context-menu {
  position: absolute;
  background-color: $color-dark-4;
  box-shadow: $box-shadow-bottom;
  border-radius: $border-radius-md;
  z-index: 3;
}

@include is-narrow-screen() {
  .context-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-dark-1, 0.5);

    &__content {
      background-color: $color-dark-4;
      box-shadow: $box-shadow-top;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &--will-appear {
      opacity: 0;
      will-change: opacity;

      .context-menu__content {
        transform: translateY(100%);
        will-change: transform;
      }
    }

    &--is-appearing {
      opacity: 1;
      transition: opacity 200ms;

      .context-menu__content {
        transform: none;
        transition: transform 200ms;
      }
    }
  }
}
