@import '../styles/_theme.scss';

.category {
  padding-top: 2rem;
  max-width: 100rem;
  margin: 0 auto;

  &__title {
    @include type-more-prominent();
    margin-left: 1rem;
    color: $color-white;
    font-size: 2rem;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $color-white;
    }
  }

  &__list {
    display: flex;
    overflow: hidden;
    padding: 0 0.5rem;
    position: relative;

    &__button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      z-index: 2;

      &:first-of-type {
        transform: translate(5px, -50%);
        left: 0;
      }

      &:last-of-type {
        transform: translate(-5px, -50%);
        right: 0;
      }
    }

    &__pieces {
      max-width: $max-width-rem;
      display: flex;
      overflow-x: scroll;
      scroll-behavior: smooth;
      padding-bottom: 20px;
      margin-bottom: -20px;
    }

    &--is-loading {
      align-items: center;
      justify-content: center;
    }
  }
}

@include is-narrow-screen() {
  .category {
    &__title {
      font-size: 1.25rem;
    }
  }
}
