@import '../styles/_theme.scss';

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

  &__info {
    display: flex;
    align-items: center;

    &__image {
      width: 27rem;
      height: 27rem;
      border-radius: $border-radius-lg;
      box-shadow: $box-shadow-bottom;
      background-size: contain;

      &__status {
        @include type-normal();
        display: none;
        background-color: rgba($color-dark-1, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        color: $color-white;
        svg {
          font-size: 4rem;
        }
      }
    }

    &__other {
      padding-left: 2rem;

      &__status {
        @include type-normal();
        color: $color-grey;
        display: flex;
        align-items: center;
        position: absolute;
        transform: translateY(calc(-100% - 1rem));

        &__icon {
          margin-right: 0.5rem;
        }
      }

      &__title {
        @include type-more-prominent();
        color: $color-white;
        font-size: 3rem;
      }

      &__controls {
        display: flex;
        margin: 1rem 0;
        > * {
          margin-left: 0.5rem;
        }
        > *:first-child {
          margin-left: 0;
          margin-right: 0.5rem;
        }
      }

      &__stats {
        @include type-normal();
        color: $color-grey;
        line-height: 2rem;

        &__tag {
          text-decoration: none;
          color: inherit;

          &:hover {
            border-bottom: 1px solid $color-grey;
          }
        }

        &__skeleton {
          width: 15rem;
        }
      }
    }
  }
}

@include is-narrow-screen() {
  .piece {
    margin-top: 3rem;
    &__info {
      flex-direction: column;
      &__image {
        width: 12rem;
        height: 12rem;
        position: relative;

        &__status {
          display: flex;
        }
      }
      &__other {
        padding-left: 0;
        text-align: center;

        &__status {
          display: none;
        }

        &__title {
          font-size: 1.75rem;
          text-align: center;
          margin-top: 1rem;
        }

        &__skeleton {
          height: 0.8rem;
        }

        &__controls {
          justify-content: center;
        }
      }
    }
  }
}
