@import '@generative.fm/web-ui/styles/_theme.scss';

.preview {
  padding: 2rem 0.5rem 0;
  display: inline-block;
  box-sizing: border-box;

  &--is-not-touched {
    .preview__image {
      &::after {
        content: '';
        background-image: linear-gradient(
          to right,
          transparent,
          rgba(black, 0.75) 66%
        );
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: opacity 200ms, visibility 200ms;
      }
    }
    .preview__image:hover {
      .preview__image__more,
      .preview__image__action {
        visibility: visible;
        opacity: 1;
      }

      .preview__image__status {
        visibility: hidden;
      }

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    .preview__title:hover {
      text-decoration: underline;
    }
  }

  &__image {
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-bottom;
    transition: filter 200ms;
    position: relative;
    background-size: contain;

    &__more {
      z-index: 2;
      position: absolute;
      top: 1rem;
      right: 1rem;
      visibility: hidden;
      opacity: 0;
      transition: opacity 200ms;
    }

    &__action {
      z-index: 2;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      visibility: hidden;
      opacity: 0;
      transition: opacity 200ms;

      svg {
        font-size: 2.5rem;
      }
    }

    &__status {
      z-index: 2;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      visibility: visible;
      transition: opacity 200ms;

      &--is-loading {
        visibility: visible !important;
      }
    }
  }

  &__title {
    @include type-normal();
    color: $color-white;
    margin-top: 0.5rem;
    text-decoration: none;
    display: block;
    font-weight: $font-weight-medium;
  }

  &__subtitle {
    @include type-normal();
    color: $color-grey;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    line-height: 1.25;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include is-narrow-screen() {
  .preview {
    padding: 1rem 0.5rem;

    &__title {
      font-size: 0.95rem;
    }
    &__subtitle {
      font-size: 0.8rem;
    }
  }
}
