@import '@generative.fm/web-ui/styles/_theme.scss';

.soft-ad {
  color: $color-grey;
  display: block;
  text-align: center;
  padding: 1rem 1rem 0;
  margin: 0 auto;
  line-height: 1.5;

  @include type-normal();
  font-size: 0.9rem;
}
