@import '../styles/_theme.scss';

.circular-loading-indicator {
  width: 2rem;
  height: 2rem;

  &__ring {
    width: 100%;
    height: 100%;
    border: 3px solid $color-primary;
    border-radius: 50%;
    will-change: clip-path;
    animation: 0.75s infinite looparound linear;
    box-sizing: border-box;
  }
}

@keyframes looparound {
  0% {
    clip-path: polygon(50% 50%, 0% 0%, 50% -50%, 100% 0%);
  }

  25% {
    clip-path: polygon(50% 50%, 100% 0%, 150% 50%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 100% 100%, 50% 150%, 0% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0% 100%, -50% 50%, 0% 0%);
  }

  100% {
    clip-path: polygon(50% 50%, 0% 0%, 50% -50%, 100% 0%);
  }
}
