@import '../styles/_theme.scss';

.current-piece {
  display: flex;
  align-items: center;
  &__image {
    width: 3rem;
    height: 3rem;
    border-radius: $border-radius-sm;
  }

  &__more {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3rem;

    &__title {
      @include type-normal();
      color: $color-white;
      margin-left: 0.25rem;
      font-weight: $font-weight-medium;
    }

    &__controls {
      display: flex;
      color: $color-grey;
    }
  }
}

@include is-narrow-screen() {
  .current-piece__more {
    justify-content: center;

    &__title {
      font-size: 0.9rem;
    }
  }
}
