@import '../styles/_theme.scss';

.playback {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;

  &__current-piece {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      width: 30rem;
      height: 30rem;
      border-radius: $border-radius-lg;
      box-shadow: $box-shadow-bottom;
    }

    &__info {
      width: 30rem;
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__title {
        @include type-less-prominent();
        font-size: 1.5rem;
        color: $color-white;
        margin: 0 1rem;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid $color-white;
        }
      }
    }
  }

  &__queue {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      @include type-less-prominent();
      font-size: 1.5rem;
      color: $color-white;
    }

    &__list {
      max-height: 100%;
      overflow: auto;
      margin-top: 1rem;

      &:hover::-webkit-scrollbar-thumb {
        background-color: rgba($color-white, 0.2);
      }

      &::-webkit-scrollbar-thumb {
        background: none;
        &:hover {
          background-color: rgba($color-white, 0.3);
        }
      }

      &::-webkit-scrollbar-track {
        background: none;
      }

      &::-webkit-scrollbar {
        width: 1rem;
      }
    }
  }
}

.queued-piece {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba($color-white, 0.1);
  padding: 1rem;

  &:last-of-type {
    border-bottom: none;
  }

  &__image {
    width: 3rem;
    height: 3rem;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-bottom;
  }

  &__title {
    @include type-normal();
    color: $color-white;
    margin-left: 1rem;
    width: 100%;
  }

  &--is-selected {
    background-color: rgba($color-white, 0.1);
    border-bottom: none;
  }
}
