@import '@generative.fm/web-ui/styles/_theme.scss';

.control-bar {
  width: 100%;
  background-color: $color-dark-3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 5rem;
  &__left {
    width: 20rem;
  }

  &__right {
    display: flex;
    align-items: center;
    width: 20rem;
    justify-content: flex-end;
  }

  .flip-vertical {
    transition: transform 200ms;

    &--is-flipping {
      transform: rotate(180deg);
    }
  }
}

@include is-narrow-screen() {
  .control-bar {
    height: 4rem;
    background-color: $color-dark-2;

    &__right {
      width: auto;
    }
  }
}
