@import '../styles/_theme.scss';

.crypto-picker {
  width: 100%;

  &__tabs {
    display: flex;
    border-bottom: 1px solid rgba($color-white, 0.1);

    &__tab {
      @include type-ui();
      color: $color-white;
      flex-grow: 1;
      border: none;
      background: none;
      font-size: 1rem;
      border-bottom: 2px solid transparent;
      padding-bottom: 0.5rem;
      cursor: pointer;
      transition: border-color 200ms;

      &--is-active {
        border-color: $color-white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__current-crypto {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__address {
      margin-top: 1rem;
      display: flex;

      &__value {
        border: 1px solid $color-grey;
        border-radius: $border-radius-sm;
        background-color: transparent;
        color: $color-white;
        padding: 0.25rem 0;
        font-size: 1rem;
        text-align: center;
        margin-right: 0.5rem;
      }
    }

    &__qr-code {
      margin-top: 1rem;
      border-radius: $border-radius-md;
    }
  }
}

@include is-narrow-screen() {
  .crypto-picker {
    &__current-crypto {
      &__address {
        flex-direction: column;
        align-items: center;
        &__value {
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
          max-width: calc(100vw - 1rem);
          margin-right: 0;
        }
      }
    }
  }
}
