@import '../styles/_theme.scss';

.library-grid {
  &__header {
    max-width: 100rem;
    margin: 2rem auto 0;
    padding-left: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__title {
      @include type-more-prominent();
      color: $color-white;
      font-size: 2rem;
    }
  }
}
