@import '../styles/_theme.scss';

.icon-button {
  background: none;
  color: $color-white;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }

  &--is-not-touched {
    &:hover {
      background-color: rgba($color-white, 0.15);
    }
    &:active {
      background-color: rgba($color-white, 0.3);
    }
  }

  &--has-background {
    background-color: rgba($color-dark-1, 0.5);
    transition: background-color 200ms;
    border: 1px solid rgba($color-white, 0.15);
  }

  &--is-not-touched#{&}--has-background {
    &:hover {
      background-color: $color-dark-1;
      box-shadow: $box-shadow-bottom;
    }
    &:active {
      background-color: $color-dark-1;
      opacity: 0.75;
    }
  }

  &--is-disabled {
    color: rgba($color-white, 0.2);
    cursor: default;
    pointer-events: none;

    &:hover {
      background: none;
    }
  }

  &--is-active {
    color: $color-primary;
    position: relative;

    &::after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-primary;
      position: absolute;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--is-ticking {
    &::after {
      animation-name: tick;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-delay: -500ms;
      will-change: left;
    }
  }

  &--is-floating {
    background-color: $color-primary;
    color: $color-dark-1;
    box-shadow: $box-shadow-bottom;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

    &.icon-button--is-not-touched {
      &:hover {
        background-color: darken($color-primary, 10%);
      }
      &:active {
        background-color: darken($color-primary, 20%);
      }
    }
  }

  &--is-secondary {
    width: 4rem;
    height: 4rem;
    background-color: $color-dark-4;
    border-radius: 50%;

    svg {
      font-size: 3rem;
    }
  }
}

@keyframes tick {
  0% {
    left: 33%;
  }
  100% {
    left: 67%;
  }
}
