@import '../styles/_theme.scss';

.icon-button {
  background: none;
  color: $color-white;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($color-white, 0.15);
  }

  &:active {
    background-color: rgba($color-white, 0.3);
  }

  &--has-background {
    background-color: rgba($color-dark-1, 0.5);
  }
}
