@import '../styles/_theme.scss';

.switch {
  $height-rail: 1rem;
  $width-rail: 2.25rem;
  $diameter-cap: 1.33rem;
  position: relative;
  height: $diameter-cap;
  width: $width-rail + $diameter-cap / 2;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__rail {
    background-color: rgba($color-grey, 0.5);
    width: $width-rail;
    height: $height-rail;
    border-radius: 5rem;
    position: absolute;
    left: $diameter-cap / 2;
    top: $diameter-cap / 2 - $height-rail / 2;
  }

  &__cap {
    background-color: $color-grey;
    width: $diameter-cap;
    height: $diameter-cap;
    border-radius: 50%;
    position: absolute;
    left: $height-rail / 2;
    top: 0;
    transition: transform 200ms;
    box-shadow: $box-shadow-bottom;
  }

  &--is-active {
    .switch__cap {
      background-color: $color-primary;
      transform: translateX($width-rail - $height-rail);
    }
    .switch__rail {
      background-color: rgba($color-primary, 0.5);
    }
  }

  &--is-disabled {
    opacity: 0.25;
    cursor: default;
  }
}
