@import '../styles/_theme.scss';

.text-button {
  @include type-ui();
  text-transform: uppercase;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background: none;
  color: $color-primary;
  border-radius: $border-radius-sm;
  transition: background-color 200ms;

  &--is-not-touched {
    &:hover {
      background-color: rgba($color-primary, 0.05);
    }

    &:active {
      background-color: rgba($color-primary, 0.15);
    }
  }

  &:focus {
    outline: none;
  }

  > * {
    margin-right: 0.5rem;
  }

  &--is-disabled {
    color: rgba($color-white, 0.3) !important;
    cursor: default;
    pointer-events: none;
    background-color: rgba($color-white, 0.2) !important;
    box-shadow: none !important;
  }

  &--is-primary {
    background-color: $color-primary;
    color: $color-dark-1;
    box-shadow: $box-shadow-bottom;

    &.text-button--is-not-touched {
      &:hover {
        background-color: rgba($color-primary, 0.8);
      }

      &:active {
        background-color: rgba($color-primary, 0.6);
      }
    }
  }
}
