@import '../styles/_theme.scss';

.text-button {
  @include type-ui();
  text-transform: uppercase;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background: none;
  color: $color-primary;
  border-radius: $border-radius-sm;

  &:hover {
    background-color: rgba($color-primary, 0.05);
  }

  &:active {
    background-color: rgba($color-primary, 0.15);
  }

  &:focus {
    outline: none;
  }

  > * {
    margin-right: 0.5rem;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-dark-1;
    box-shadow: $box-shadow-bottom;

    &:hover {
      background-color: rgba($color-primary, 0.8);
    }

    &:active {
      background-color: rgba($color-primary, 0.6);
    }
  }
}
