.layout {
  height: 100%;
  padding-top: 4rem;
  box-sizing: border-box;

  &--has-controls {
    .layout__content {
      margin-bottom: 5rem;
    }
  }

  &__content {
    max-width: 110rem;
    margin: 0 auto;
  }
}
