@import '../styles/_theme.scss';

.layout {
  height: 100%;
  padding-top: 4rem;
  box-sizing: border-box;

  &--has-controls {
    .layout__content {
      margin-bottom: 5rem;
    }
  }

  &--has-playback-content {
    overflow: hidden;
  }

  &__content {
    padding-bottom: 4rem;
    &__main {
      max-width: 110rem;
      margin: 0 auto;
      padding: 0 1rem;
      box-sizing: border-box;
    }

    &__playback {
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%;
      height: calc(100% - 9rem);
      background-color: $color-dark-2;
      z-index: 2;

      &--will-enter {
        transform: translateY(100%);
        will-change: transform;
      }

      &--is-entering {
        transform: none;
        transition: transform 200ms;
      }

      &--will-exit {
        will-change: transform;
      }

      &--is-exiting {
        transform: translateY(100%);
        transition: transform 200ms;
      }
    }
  }

  &__control-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: $box-shadow-top;
    z-index: 3;

    &--will-enter {
      transform: translateY(100%);
      will-change: transform;
    }

    &--is-entering {
      transform: none;
      transition: transform 200ms;
    }
  }
}

@include is-narrow-screen() {
  .layout {
    padding-top: 0;

    &__content {
      padding-bottom: 8rem;
      &__playback {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 4;
        width: auto;
        height: 100%;

        &--will-enter {
          transform: none;
          height: 4rem;
          bottom: 4rem;
          opacity: 0;
          will-change: height, bottom, opacity;
        }

        &--is-entering {
          transform: none;
          height: 100%;
          bottom: 0;
          opacity: 1;
          transition: height 200ms, bottom 200ms, opacity 100ms;
        }

        &--will-exit {
          transform: none;
          height: 100%;
          bottom: 0;
          opacity: 1;
          will-change: height, bottom;
        }

        &--is-exiting {
          transform: none;
          height: 4rem;
          bottom: 4rem;
          opacity: 0;
          transition: height 200ms, bottom 200ms, opacity 100ms 100ms;
        }
      }
    }

    &__control-bar {
      bottom: 4rem;
    }
  }
}
